<% recent_audit_items.each do |recent_audit_item| %>
  <div class="card text-white mb-3">
    <div class="homepage-block">
      <div class="card-header ">
        <h4><%= recent_audit_item.user.full_name %></h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          <span class="pending-details">Week starting:</span> <%= recent_audit_item.start_date %>
        </p>

        <p class="card-text">
          <span class="pending-details">Confirmed at:</span> <%= recent_audit_item.end_date || status_badge('pending') %>
        </p>

        <p class="card-text">
          <span class="pending-details">Status:</span> <%= status_badge recent_audit_item.status %>
        </p>
      </div>
    </div>
  </div>
<% end %>
