@import "bootstrap";
@import "gritter";
@import "bourbon";
@import "font-awesome";
@import "admin_homepage.css";
@import "employee_homepage.css";

.custom-nav {
  margin-top: 15px;
  margin-bottom: 20px;
}

.logo {
  margin-top: 15px;
}

.index-icons:hover {
	text-decoration: none;
	color: black;
}

.index-icons-tresh:hover {
	text-decoration: none;
	color: red;
}

.btn {
	white-space: normal !important;
}